/* Title for Items */
a {
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
  }

  /* the nav bar */
  header {
    background: var(--primary);
    /*height: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;*/
  }

  /* the nav bar words */
  header a {
    color: var(--light);
  }