#scroll-container {
  border: 3px solid var(--tertiary);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--primary);
}

#scroll-text {
  /* animation properties */
    color: var(--light);
  -moz-animation: scroll-text 15s linear infinite;
  -webkit-animation: scroll-text 15s linear infinite;
  /* animation: my-animation 15s linear infinite; */
  animation: scroll-text 15s infinite linear;
}

@keyframes scroll-text {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  } to {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  }
}

.bg {
  position: absolute;
  top: -4px;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: auto;
  height: auto;
  background-color: var(--primary);
}